.App {
  min-height: 100vh;
}
.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
}
.login-page .container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 2px 2px 5px grey;
}
.events-page {
  overflow-x: scroll;
}